@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  margin: 0 auto;          /* Centers the content horizontally */
  max-width: 80%;         /* Restricts the content width for larger screens */
  padding: 0 20px;       /* 0 padding on top/bottom, 20px on left/right */
  background-color: #171717;        
 }
